import all the necessary libraries

In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib
matplotlib.use('TkAgg') 
import matplotlib.pyplot as plt
from matplotlib import rc

read dataset

In [2]:
df = pd.read_csv("/Users/lissachaves/Documents/GitHub/TELLES_Python_portfolio/TidyData-Project/olympics_08_medalists.csv")

check dataset

In [3]:
df.head()

,medalist_name,male_archery,female_archery,male_athletics,female_athletics,male_badminton,female_badminton,male_baseball,male_basketball,female_basketball,...,female_beach volleyball,male_volleyball,female_volleyball,male_water polo,female_water polo,male_weightlifting,female_weightlifting,male_freestyle wrestling,female_freestyle wrestling,male_greco-roman wrestling
0,Aaron Armstrong,NaN,NaN,gold,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron Peirsol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abdullo Tangriev,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abeer Abdelrahman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,bronze,NaN,NaN,NaN
4,Abhinav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

reshape the dataframe, so we do not have to look at all the other sports

In [4]:
melted_df = pd.melt(df, id_vars=["medalist_name"], var_name='Sport', value_name='Medal')

deleting where 'Medal' is NaN because it means the athlete didn't win a medal in that sport

In [5]:
melted_df = melted_df.dropna(subset=['Medal'])
melted_df.head()

      medalist_name         Sport   Medal
177    Bair Badënov  male_archery  bronze
676   Ilario Di Buò  male_archery  silver
682    Im Dong-hyun  male_archery    gold
760       Jiang Lin  male_archery  bronze
920  Lee Chang-hwan  male_archery    gold

separate sex for sport, creating a new column

In [6]:
split_sport = melted_df["Sport"].str.split(pat='_', expand=True)
split_sport

           0                      1
177     male                archery
676     male                archery
682     male                archery
760     male                archery
920     male                archery
...      ...                    ...
130932  male  greco-roman wrestling
131159  male  greco-roman wrestling
131162  male  greco-roman wrestling
131200  male  greco-roman wrestling
131234  male  greco-roman wrestling

[1875 rows x 2 columns]

adding new separated columns to the df and reordering it to a more usual order.

In [7]:
melted_df['Sport']= split_sport[1]
melted_df['Sex']= split_sport[0]
final_df = melted_df.reindex(columns=['medalist_name', 'Sex', 'Sport','Medal'])
final_df

              medalist_name   Sex                  Sport   Medal
177            Bair Badënov  male                archery  bronze
676           Ilario Di Buò  male                archery  silver
682            Im Dong-hyun  male                archery    gold
760               Jiang Lin  male                archery  bronze
920          Lee Chang-hwan  male                archery    gold
...                     ...   ...                    ...     ...
130932        Steeve Guénot  male  greco-roman wrestling    gold
131159  Yannick Szczepaniak  male  greco-roman wrestling  bronze
131162       Yavor Yanakiev  male  greco-roman wrestling  bronze
131200      Yury Patrikeyev  male  greco-roman wrestling  bronze
131234         Zoltán Fodor  male  greco-roman wrestling  silver

[1875 rows x 4 columns]

# begin EDA

In [8]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1875 entries, 177 to 131234
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   medalist_name  1875 non-null   object
 1   Sex            1875 non-null   object
 2   Sport          1875 non-null   object
 3   Medal          1875 non-null   object
dtypes: object(4)
memory usage: 73.2+ KB

In [9]:
final_df.describe()

       medalist_name   Sex      Sport   Medal
count           1875  1875       1875    1875
unique          1875     2         38       3
top     Bair Badënov  male  athletics  bronze
freq               1  1032        166     668

In [10]:
final_df.isnull().sum()

medalist_name    0
Sex              0
Sport            0
Medal            0
dtype: int64

In [11]:
sport_medal_df = pd.crosstab(final_df['Sport'], final_df['Medal'])
sport_medal_df.max()

Medal
bronze    55
gold      52
silver    59
dtype: int64

## Plot 1

to make the stacked barplot, because the data was in str, I decided to create dummy variables. Then, to make it look more organized I grouped the data by sport and summed the dummy variables, this way we could count how many medals there are for each type of medal (gold/silver/bronze) per sport.

In [12]:
medal_dummies = pd.get_dummies(final_df['Medal'])
plot1_df = pd.concat([final_df, medal_dummies], axis=1)
medal_counts = plot1_df.groupby('Sport').sum()
medal_counts

,medalist_name,Sex,Medal,bronze,gold,silver
Sport,,,,,,
archery,Bair BadënovIlario Di BuòIm Dong-hyunJiang Lin...,malemalemalemalemalemalemalemalemalemalemalefe...,bronzesilvergoldbronzegoldbronzesilversilversi...,8,5,7
artistic gymnastics,Alexander ArtemevAnton FokinAnton Golotsutskov...,malemalemalemalemalemalemalemalemalemalemalema...,bronzebronzebronzebronzegoldbronzesilversilver...,19,14,16
association football,Alex Sandro da SilvaAlexandre PatoAmbruse Vanz...,malemalemalemalemalemalemalemalemalemalemalema...,bronzebronzesilverbronzebronzesilversilversilv...,36,37,36
athletics,Aaron ArmstrongAinārs KovalsAlex SchwazerAlfre...,malemalemalemalemalemalemalemalemalemalemalema...,goldsilvergoldbronzesilvergoldsilversilverbron...,55,52,59
badminton,Cai YunChen JinFu HaifengHe HanbinHendra Setia...,malemalemalemalemalemalemalemalemalemalemalema...,silverbronzesilverbronzegoldbronzesilverbronze...,7,7,8
baseball,Adiel PalmaAlexander MalletaAlexei BellAlfredo...,malemalemalemalemalemalemalemalemalemalemalema...,silversilversilversilversilverbronzegoldbronze...,24,24,24
basketball,Andrés NocioniAntonio PortaBerni RodríguezCarl...,malemalemalemalemalemalemalemalemalemalemalema...,bronzebronzesilvergoldbronzesilvergoldgoldgold...,24,23,24
beach volleyball,Emanuel RegoFábio Luiz MagalhãesMárcio AraújoP...,malemalemalemalemalemalefemalefemalefemalefema...,bronzesilversilvergoldbronzegoldgoldgoldsilver...,4,4,4
bmx,Donny RobinsonMike DayMāris ŠtrombergsAnne-Car...,malemalemalefemalefemalefemale,bronzesilvergoldgoldbronzesilver,2,2,2
boxing,Aleksei TishchenkoAlexis VastineAndry LaffitaB...,malemalemalemalemalemalemalemalemalemalemalema...,goldbronzesilvergoldbronzesilversilversilverbr...,22,11,11
canoeing and kayaking,Adam van KoeverdenAleksandr KostoglodAlexander...,malemalemalemalemalemalemalemalemalemalemalema...,silversilvergoldgoldgoldbronzegoldgoldbronzego...,27,24,23
diving,Alexandre DespatieDmitri SautinDmitriy Dobrosk...,malemalemalemalemalemalemalemalemalemalemalema...,silversilverbronzebronzegoldgoldbronzegoldgold...,11,7,11
equestrian sport,Anky van GrunsvenAnne van OlstBeezie MaddenChr...,femalefemalefemalefemalefemalefemalefemalefema...,goldbronzebronzebronzebronzesilverbronzesilver...,14,11,13
fencing,Adam WierciochAldo MontanoAlfredo RotaBenjamin...,malemalemalemalemalemalemalemalemalemalemalema...,silverbronzebronzegoldgoldbronzebronzesilverbr...,15,18,21
field hockey,Albert SalaAlex FàbregasAndrew SmithBenjamin W...,malemalemalemalemalemalemalemalemalemalemalema...,silversilverbronzegoldbronzegoldgoldsilverbron...,33,33,32
freestyle wrestling,Andriy StadnikBakhtiyar AkhmedovBazar Bazargur...,malemalemalemalemalemalemalemalemalemalemalema...,silvergoldbronzebronzegoldsilverbronzebronzebr...,22,11,11
greco-roman wrestling,Adam WheelerAndrea MinguzziArmen VardanyanAsla...,malemalemalemalemalemalemalemalemalemalemalema...,bronzegoldbronzegoldsilverbronzegoldsilvergold...,13,7,7
handball,Albert RocasAlberto EntrerríosAlexander Peters...,malemalemalemalemalemalemalemalemalemalemalema...,bronzebronzesilversilvergoldsilverbronzegoldbr...,28,29,28
judo,Abdullo TangrievAmar BenikhlefAskhat Zhitkeyev...,malemalemalemalemalemalemalemalemalemalemalema...,silversilversilversilvergoldgoldbronzebronzego...,28,14,14
modern pentathlon,Andrejus ZadneprovskisAndrey MoiseyevEdvinas K...,malemalemalefemalefemale,bronzegoldsilversilvergold,1,2,2
mountain biking,Jean-Christophe PéraudJulien AbsalonNino Schur...,malemalemalefemalefemalefemale,silvergoldbronzebronzesilvergold,2,2,2
rhythmic gymnastics,Alina TumilovichAnastasia IvankovaAnna Bessono...,femalefemalefemalefemalefemalefemalefemalefema...,bronzebronzebronzegoldsilversilvergoldbronzesi...,7,7,7
road bicycle racing,Alexandr KolobnevFabian CancellaraGustav Larss...,malemalemalemalemalefemalefemalefemalefemalefe...,bronzesilversilverbronzegoldsilversilverbronze...,4,3,4
rowing,Acer NethercottAdam KorolAdam KreekAlastair He...,malemalemalemalemalemalemalemalemalemalemalema...,silvergoldgoldsilversilvergoldgoldsilverbronze...,45,48,48
sailing,Anders EkströmAndrew SimpsonAntón PazBen Ainsl...,malemalemalemalemalemalemalemalemalemalemalema...,bronzegoldgoldgoldsilverbronzesilverbronzegold...,18,18,18
shooting sport,AbhinavAleksei AlipovAnthony TerrasArtur Ayvaz...,malemalemalemalemalemalemalemalemalemalemalema...,goldbronzebronzegoldbronzegoldsilversilverbron...,15,14,14
softball,Andrea DuranAyumi KarinoBelinda WrightCaitlin ...,femalefemalefemalefemalefemalefemalefemalefema...,silvergoldbronzesilversilversilverbronzegoldgo...,15,15,15
swimming,Aaron PeirsolAdam PineAlain BernardAlexander D...,malemalemalemalemalemalemalemalemalemalemalema...,goldsilverbronzesilversilversilverbronzebronze...,43,39,43
synchronized swimming,Alba CabelloAnastasia DavydovaAnastasiya Yerma...,femalefemalefemalefemalefemalefemalefemalefema...,silvergoldgoldsilvergoldgoldbronzesilversilver...,11,9,9
table tennis,Christian SüßDimitrij OvtcharovMa LinOh Sang-e...,malemalemalemalemalemalemalemalemalefemalefema...,silversilvergoldbronzebronzesilversilverbronze...,8,2,8
taekwondo,Alexandros NikolaidisArman ChilmanovCha Dong-M...,malemalemalemalemalemalemalemalemalemalemalema...,silverbronzegoldbronzebronzesilvergoldgoldsilv...,16,8,8
tennis,Bob BryanFernando GonzálezMike BryanNovak Djok...,malemalemalemalemalemalemalemalemalefemalefema...,bronzesilverbronzebronzegoldgoldsilvergoldsilv...,6,6,6
track cycling,Alex RasmussenAlexei MarkovArnaud TournantBrad...,malemalemalemalemalemalemalemalemalemalemalema...,silverbronzesilvergoldsilvergoldbronzegoldgold...,16,11,17
trampoline gymnastics,Dong DongJason BurnettLu ChunlongEkaterina Khi...,malemalemalefemalefemalefemale,bronzesilvergoldbronzegoldsilver,2,2,2
triathlon,Bevan DochertyJan FrodenoSimon WhitfieldEmma M...,malemalemalefemalefemalefemale,bronzegoldsilverbronzegoldsilver,2,2,2
volleyball,Aleksandr KorneevAleksandr KosarevAleksandr Vo...,malemalemalemalemalemalemalemalemalemalemalema...,bronzebronzebronzebronzebronzebronzesilversilv...,24,24,24
water polo,Adam WrightAleksandar ĆirićAleksandar ŠapićAnd...,malemalemalemalemalemalemalemalemalemalemalema...,silverbronzebronzebronzesilverbronzebronzebron...,26,26,26
weightlifting,Andrei AramnauArsen KasabievDiego SalazarDmitr...,malemalemalemalemalemalemalemalemalemalemalema...,goldsilversilversilverbronzesilverbronzesilver...,15,15,15

plot it as a stacked bar plot

In [13]:
medal_counts.head(10).plot(kind='bar', stacked=True, figsize=(10, 6))
plt.title('Medal Counts by Sport')
plt.xlabel('Sport')
plt.ylabel('Count of Medals')
plt.legend(title='Medal Types')
plt.savefig('stackedbarplot_medalxsport')

##Plot 2

create a subgroup to make graph so information is not overwhelming

In [14]:
male_female_sportrep = final_df.groupby(['Sport', 'Sex']).size().unstack(fill_value=0)

make plot

In [15]:
male_female_sportrep.head(10).plot(kind='bar')
plt.title('Representation of Male and Female Athletes in 10 Sports')
plt.xlabel('Sport')
plt.ylabel('Number of Athletes')
plt.legend(title='Sex')
plt.savefig('malefemalerepsports')